footer {
  background-color: $gray-800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 2rem;
  
  .rs-school {
    height: 40px;
    
    img {
      height: 100%;
    }
  }
}