section.list {
  min-width: min-content;
  
  .table {
    th:nth-child(1),
    td:nth-child(2),
    th:nth-child(2) {
      text-align: left;
    }

    td:nth-child(3),
    thead th:nth-child(2) {
      text-align: right;
    }
    
    .flag {
      width: 20px;
      height: 18px;
      
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}